
* {
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  font-family: sans-serif;
  
  background: #EEE;
}

#root {
  width: 100%;
  height: 100%;
}